Werkzeug==0.16.0
opencv-python==4.6.0.66
pytesseract==0.3.4
uvicorn==0.15.0
selenium==3.141.0
pdf2image==1.16.0
pandas==1.1.5
pyperclip==1.8.2
fastapi==0.81.0
Image==1.5.33
#Pillow==9.2.0
scikit_learn==0.24.2
scikit-build==0.15.0
Jinja2==3.0.3
python-multipart==0.0.5

